/* Pandaa Comercee Owned Project Theme Styles ---

Name: Pandaa Comercee
Author: sp simon
Version: 1.0.0
Tags: 
----------------------*/

body, html{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



